*{
box-sizing:border-box;
}
body{
	background:white;
	font-family: Tahoma;
	font-size: 14px;
	margin: 0;
	padding: 0;
}
.top-line{
	background-color: #323030;
	height: 5px;
}
.header{
	background-image:url(images/fon.jpg) ;
	background-size:100%;
	background-repeat:no-repeat;
	width: 100%;
	height: 1125px;
	border: 1px solid black;
}
.green{
	width: 100%;
	height: 1125px;
	background-color:#339933;
	opacity:0.5;
}
.logo{
	margin-top:40px;
	margin-left:20px;
	width: 45px;
	height: 100%;
}
.flex-box{
	margin-top:45px;
	display: flex;
	justify-content: space-between;
	height:60px;
	width:400px;
	background-color:#339933;
	margin: 5px 80px;
	float:left;
	margin-bottom:0px;
}
.flex-box1{
	display: flex;
	justify-content: space-between;
	background-color: #339933;
	width:80%;
	height:170px;
	margin:auto;
}
.flex-box2{
	display:flex;
	justify-content: space-between;
	float:right;
	height:50px;
	width:830px;
	margin-bottom:0px;
	margin-right:80px;
	margin-top:60px;
	color:white;
}
.flex-box3{
	width:100%;
	height:40%;
	display:flex;
	flex-direction: column;
	margin-top:185px;
	margin-left: 678px;
}
.txt{
	font-size:35px;
	margin-top:48px;
	height:100%;
	width:365px;
	margin-left:30px;
	color:white;
}
.txt1{
	display:flex;
	font-size:75px;
	color:white;
	text-align:center;
	width:100%;
	height:65%;
	margin-left:135px;
}
.txt2{
	display:flex;
	font-size:29px;
	color:white ;
	width:100%;
	height:35%;
}
.punkt1{
	padding-top:10px;
	text-align:center;
	font-size:22px;
 
	width :100px;
}
.punkt2{
	padding-top:10px;
	text-align:center;
	font-size:22px;
 
	width :110px;
	margin-right:0px;
	margin-left:15px;
}
.punkt3{
	padding-top:10px;
	text-align:center;
	font-size:22px;
 
	width :90px;
	margin-right:20px;
	margin-left:20px;
}
.punkt4{
	padding-top:10px;
	text-align:center;
	font-size:22px;
	width :140px;
}
.punkt1:hover{
	width :100px;
	border-bottom: 3px solid white;
}
.punkt2:hover{
	width :110px;
	border-bottom: 3px solid white;
}
.punkt3:hover{
	width :90px;
	border-bottom: 3px solid white;
}
.punkt4:hover{
	width :140px;
	border-bottom: 3px solid white;
}
.punktos{
	padding-top:10px;
	font-size:22px;
	width :163px;
	border: 2px solid white;
	text-align:center;
}

.flex-box4{
	flex-direction: column;
	width:100%;
	height:1500px;
	display:flex;
}
.bigtext{
	font-size:60px;
	width:100%;
	height:300px;
	margin-left:330px;
	padding-top:215px;
}
.bigtext2{
	font-size:60px;
	width:100%;
	height:80px;
	margin-left:330px;
	
}
.small_line{
	margin-left:330px;
	width:160px;
	height:50px;
	border-bottom:5px solid black;
}
.text1{
	line-height:60px;
	font-size:30px;
	margin-left:330px;
	padding-right:790px;
	padding-top:70px;
	width:100%;
	height:490px;
}
.text2{
	line-height:80px;
	font-size:30px;
	margin-left:300px;
	padding-top:20px;
	width:100%;
	height:490px;
}

.flex-box5{
	background-color:gray;
	flex-direction: row;
	width:100%;
	padding-top:200px;
	height:950px;
	display:flex;
	justify-content:space-between;
}

.text3{
	font-size:60px;
	padding-top:100px;
	height:200px;
	margin-left:330px;
}

.grayline{
	background-color: lightgray;
	flex-direction: row;
	width:100%;
	padding-top:200px;
	height:400px;
	display:flex;
	flex-direction:column;
	margin-bottom:200px;
}
.Cit{
	font-family:Courier New;
	font-size:35px;
	margin-left:330px;
	margin-top:-60px;
}
.author{
	font-size:35px;
	padding-top:50px;
	margin-left:1430px;
}
.flex-box6{
flex-direction: column;
	width:100%;
	height:1300px;
	display:flex;	
}

.flex-box7{
	display:flex;
	flex-direction:column;
	height: 600px;
}
.textos{
	font-size:40px;
	height:200px;
	width:100%;
	margin-left:400px;
	padding-right:850px;
}

.phones{
	width: 100%;
	height:1000px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #2e2e42;
	padding: 5%;
	margin-bottom: 100px;
}

.phone{
	display: flex;
	margin-right: 30px;
	height: auto;
}

.onemoretext{
	display:flex;
	flex-direction:column;
	height: 600px;
}
.footer{
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	height: 1200px;
	background-color:green;
}
.row1{
	display:flex;
	flex-direction:row;
	height:400px;
	justify-content:space-around;
	margin-bottom:5%;
	
}
.row2{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	height:400px;
	margin-bottom:5%;
}
.lingua_web{
	padding-left:10%;
	
	height:auto;
	margin:0;
	padding:0;
}